@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Jost, sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100vw;
  overflow: hidden;
  margin: 0;
}

nav {
  position: relative;
  padding: 10px 0;
  display: flex;
  flex-direction: row;
}
.nav2 {
  padding: 10px 0 10px 20px;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  background-color: white;
  padding: 10px;
}
nav ul li {
  margin: 0 15px; /* Adjust the spacing here */
  padding: 0px 0; /* Padding between the text and border of each item */
}

nav ul li a {
  text-decoration: none;
  font-size: medium;
  color: black;
  font-weight: 500;
  font-size: 18px;
}
.nav2 ul li a {
  font-size: 15px;
}
.classSperator {
  height: 1.5px;
  width: 100vw;
  background-color: whitesmoke;
  opacity: 1;
}
.content {
  background-image: url("assignment.png");
  background-size: cover;
  background-position: center;
  width: auto;
  height: 600px;
  margin: 5px 125px 5px 125px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  justify-content: center;
}
.container {
  font-size: 1px;
}
.ul2 {
  margin-left: auto;
  padding-right: 50px;
}
nav .ul2 li {
  margin: 0 15px; /* Adjust the spacing here */
  padding: 0px 0 0px 10px; /* Padding between the text and border of each item */
}
.logo {
  display: flex;
  flex-direction: row; /* Stack bars vertically */
  justify-content: center;
  align-items: center;
}

.bar {
  background-color: black; /* Color of the bars */
}

.vertical-bar {
  width: 4px;
  height: 25px;
  margin: 0px 2px;
}
.logoVertical {
  display: flex;
  flex-direction: row;
}
.logoHorizontal {
  display: flex;
  flex-direction: column;
}

.horizontal-bar {
  width: 25px; /* Width of horizontal bars */
  height: 4px; /* Height of horizontal bars */
  margin: 1.5px 0; /* Space between horizontal bars */
}
.logo {
  padding: 0 10px 0 40px;
}
