@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Jost, sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100vw;
  overflow: hidden;
  margin: 0;
}

nav {
  position: relative;
  padding: 10px 0;
  display: flex;
  flex-direction: row;
}
.nav2 {
  padding: 10px 0 10px 20px;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  background-color: white;
  padding: 10px;
}
nav ul li {
  margin: 0 15px; /* Adjust the spacing here */
  padding: 0px 0; /* Padding between the text and border of each item */
}

nav ul li a {
  text-decoration: none;
  font-size: medium;
  color: black;
  font-weight: 500;
  font-size: 18px;
}
.nav2 ul li a {
  font-size: 15px;
}
.classSperator {
  height: 1.5px;
  width: 100vw;
  background-color: whitesmoke;
  opacity: 1;
}
.content {
  background-image: url("assignment.png");
  background-size: auto;
  background-position: center;
  width: auto;
  height: 600px;
  margin: 5px 125px 5px 125px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  justify-content: center;
}
.container {
  font-size: 1px;
}
.ul2 {
  margin-left: auto;
  padding-right: 50px;
}
nav .ul2 li {
  margin: 0 15px;
  padding: 0px 0 0px 10px;
}
.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.bar {
  background-color: black;
}

.vertical-bar {
  width: 4px;
  height: 25px;
  margin: 0px 2px;
}
.logoVertical {
  display: flex;
  flex-direction: row;
}
.logoHorizontal {
  display: flex;
  flex-direction: column;
}

.horizontal-bar {
  width: 25px;
  height: 4px;
  margin: 1.5px 0;
}
.logo {
  padding: 0 10px 0 40px;
}
.icon {
  color: black;
  cursor: pointer;
  font-size: 18px;
  display: none;
}
h1 {
  display: none;
}
@media (max-width: 768px) {
  nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: white;
    position: absolute;
    top: 60px;
    left: 0;
    padding: 10px 0;
  }
  .nav2 ul {
    display: flex;
    flex-direction: row;
    top: 5px;
    padding: 10px 0 10px 20px;
  }

  nav ul li {
    margin: 10px 15px;
    text-align: center;
  }

  .menu-toggle {
    display: flex;
  }

  nav.active ul {
    display: flex;
  }

  nav.active .menu-toggle {
    display: none;
  }
  .content {
    margin: 5px 50px 0 50px;
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  h1 {
    display: flex;
  }
  .icon {
    display: flex;
    padding: 14px 0 0 0;
    font-size: 0.75rem;
  }
}

@media (max-width: 480px) {
  .content {
    margin: 5px 30px 0 30px;
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("mobile.png");
    background-position: center;
  }
  .icon {
    display: flex;
    padding: 14px 0 0 0;
    font-size: 0.75rem;
  }
  h1 {
    display: flex;
    font-size: 18px;
    padding: 5px 0 0 20px;
  }
}
