/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
body {
  background-image: url("https://wallpapers.com/images/high/clouds-4k-4y7kl2qe79x3lcxi.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@keyframes glow {
  0% {
    filter: drop-shadow(0 0 10px yellow);
  }
  50% {
    filter: drop-shadow(0 0 20px yellow);
  }
  100% {
    filter: drop-shadow(0 0 10px yellow);
  }
}
.glowing-sun {
  animation: glow 2s infinite;
}
@keyframes rain-animation {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(5px);
  }
}
.rainy {
  animation: rain-animation 1s infinite alternate;
}
@keyframes snow-animation {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(5px);
  }
}

.snowy {
  animation: snow-animation 1s infinite alternate;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
